<!DOCTYPE html>
<html>
<head>
<title>Health Schedule</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<head>
<body>
  <div class="container">
  <div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">
    <h2>Log in</h2>
  </div>
  <div class="col-md-6 col-md-offset-3">
  <% flash.each do |name, msg| %>
    <% if msg.class == Array %>
      <% msg.each do |message| %>
        <%= content_tag :div, message, id:"flash_#{name}", class: ["alert", "alert-danger"] %>
    <% end %>
    <% else %>
      <%= content_tag :div, msg, id: "flash_#{name}", class: ["alert", "alert-danger"] %>
    <% end %> 
  <% end %>
  <%= form_for(:session, url: api_v1_login_path) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <%= f.submit "Log in", class: "btn btn-primary form-control" %>

  <% end %>
  </div>
   </div>
  </div>
</html>
